src/main/resources/wsdl/ExchangeODPService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://52.10.194.92/neptune/sync/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://52.10.194.92/neptune/sync/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://52.10.194.92/neptune/sync/">
      <s:element name="SetODPBackUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_odp" type="tns:ODP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ODP">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="partnerName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="macID" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="backUpText" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="SetODPBackUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SetODPBackUpResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetODPBackUp">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_odp" type="tns:ODP" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetODPBackUpResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetODPBackUpResult" type="tns:ODP" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SetODPBackUpSoapIn">
    <wsdl:part name="parameters" element="tns:SetODPBackUp" />
  </wsdl:message>
  <wsdl:message name="SetODPBackUpSoapOut">
    <wsdl:part name="parameters" element="tns:SetODPBackUpResponse" />
  </wsdl:message>
  <wsdl:message name="GetODPBackUpSoapIn">
    <wsdl:part name="parameters" element="tns:GetODPBackUp" />
  </wsdl:message>
  <wsdl:message name="GetODPBackUpSoapOut">
    <wsdl:part name="parameters" element="tns:GetODPBackUpResponse" />
  </wsdl:message>
  <wsdl:portType name="ExchangeODPServiceSoap">
    <wsdl:operation name="SetODPBackUp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This Method store customer ODP in webserver</wsdl:documentation>
      <wsdl:input message="tns:SetODPBackUpSoapIn" />
      <wsdl:output message="tns:SetODPBackUpSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetODPBackUp">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">This Method return customer stored ODP from webserver</wsdl:documentation>
      <wsdl:input message="tns:GetODPBackUpSoapIn" />
      <wsdl:output message="tns:GetODPBackUpSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExchangeODPServiceSoap" type="tns:ExchangeODPServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetODPBackUp">
      <soap:operation soapAction="http://52.10.194.92/neptune/sync/SetODPBackUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetODPBackUp">
      <soap:operation soapAction="http://52.10.194.92/neptune/sync/GetODPBackUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ExchangeODPServiceSoap12" type="tns:ExchangeODPServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetODPBackUp">
      <soap12:operation soapAction="http://52.10.194.92/neptune/sync/SetODPBackUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetODPBackUp">
      <soap12:operation soapAction="http://52.10.194.92/neptune/sync/GetODPBackUp" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExchangeODPService">
    <wsdl:port name="ExchangeODPServiceSoap" binding="tns:ExchangeODPServiceSoap">
      <soap:address location="http://52.10.194.92/neptune/sync/ExchangeODPService.asmx" />
    </wsdl:port>
    <wsdl:port name="ExchangeODPServiceSoap12" binding="tns:ExchangeODPServiceSoap12">
      <soap12:address location="http://52.10.194.92/neptune/sync/ExchangeODPService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>